{
  "root": true,
  "env": {
    "browser": true,
    "es2022": true
  },
  "parserOptions": {
    "ecmaVersion": 2022,
    "sourceType": "script",
    "ecmaFeatures": {
      "impliedStrict": true
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:json/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:import/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": [
    "json",
    "jsx-a11y",
    "import",
    "react",
    "react-hooks",
    "@typescript-eslint"
  ],
  "globals": {},
  "rules": {
    "no-console": "error"
  }
}
